#root {
  
}


*{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono', monospace; 
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: 	#d0e6a6;
}

/* ----------------- Landing Page ----------------- */
.hero{
	height: 100vh;
	width: 100%;
}
.container{
	margin-left: 80px;
	margin-top: 350px;
}
.logo{
	font-size: 60px;
	font-weight: 400;
	color: dark-brown;
}


