*{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono', monospace; 
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: 	#85a486;
}

/* ----------------- Landing Page ----------------- */
.hero{
	height: 100vh;
	width: 100%;
}
.container{
	margin-left: 80px;
	margin-top: 350px;
}
.logo{
	font-size: 80px;
	font-weight: 800;
	color: dark-brown;
}

.arrowContainer{
	position: absolute;
	display: flex;
	font-size: 30px;
	font-weight: 200;
	right: 200px;
	bottom: 100px;
	align-items: center;
	align-text: center;
	background-color: transparent;
	border: none;	
	border-bottom: 2px solid transparent;
}
.arrowContainer:hover{
	cursor: pointer;
}

.arrowContainer::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.arrowContainer:hover::after{
    width: 100%;
}

.hero-video {
	width: 60%;
	height: auto;
	position: absolute;
	top: 0;
	right: 80px;
	z-index: -1; /* Place the video behind other content */
  }


