#header {
    width: 10%;
    height: 100vh;
}

.container {
    padding:7px 10%;
    top: 10px;
    right: 0%;
    position: fixed;
   
}

.navContainer {
    display: flex;
    flex-wrap: wrap;
}

.header {
    padding-bottom: 1%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    right: 0px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffbb00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}


/* When scrolled, the header's background color changes */
.scrolled {
    background-color: #f4f4f4;  /* Adjust this color to your preference */
}

/* Style for each navigation link */
nav ul li a {
    /* ... existing styles ... */
    padding: 10px 15px;
    margin: 0;  /* Reset margin to fit the colored box */
    border-radius: 5px;
}

/* Color boxes for each navigation link */
nav ul li:nth-child(1) a {
    /* background-color: #ffbb00;   */
}

nav ul li:nth-child(2) a {
    /* background-color: #ffbb00; */
}

nav ul li:nth-child(3) a {
    /* background-color: #ffbb00; */
}

nav ul li:nth-child(4) a {
    /* background-color: #ffbb00; */
}