/* body {
	background-color: #fff;
} */

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
}

.navContainer {
	width: 200px;
	padding: 20px;
}

.link {
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding: 2px;
	opacity: 0.5;
	margin-left: -5px;
}




.linkHome {
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding: 2px;
	opacity: 0.5;
	margin-left: -5px;
	margin-top: 20px;
}

.linkHome:hover {
	opacity: 1;
}

.link:hover {
	opacity: 1;
}

.title {
	font-size: 40px;
	font-weight: 400;
	position: absolute;
	top: 20px;
	margin-left: 40px;
	z-index: 30;
}


/******** Notes ********/
.notes {
	margin: 0 auto;
	width: auto;
	width: 400px;

	height: 100px;
	background-color: #27392f;
	color: rgb(208, 222, 186);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 0px 73px -23px rgba(0, 0, 0, 0.38);
	z-index: 10;
	cursor: move;
	/* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;

}

.notes:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

/* .notes:hover {} */

.topic {
	Font-size: 20px;
	font-weight: 600;
	text-align: left;
	padding: 20px 0 0 10px;
	width: auto;
}

/* .note {} */


/******** Note pop up ********/
.popup {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100000;
}

.popupContainer {
	background-color: white;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.textarea {
	/* Your textarea styles */
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	resize: vertical;
	/* Allow vertical resizing of the textarea */
}

.note {
	padding-top: 100px;
	font-size: 40px;
	color: black;


}

/******** Sidebar ********/
.line {
	width: 35px;
	height: 2px;
	background-color: black;
	transition: transform 0.5s ease-in-out;
}

.lineTop {
	width: 35px;
	height: 2px;
	background-color: black;
	transform: rotate(45deg) translate(-2px, 10px);
	transition: transform 0.5s ease-in-out;
}

.lineBottom {
	width: 35px;
	height: 2px;
	background-color: black;
	transform: rotate(-45deg) translate(-2px, -10px);
	transition: transform 0.5s ease-in-out;
}

.burger {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	border: none;
	background-color: transparent;
	margin: 80px 0px 10px 220px;
	transition: margin-left 0.5s ease-in-out;
	z-index: 20;

}

.burger:hover {
	cursor: pointer;
	opacity: 0.8;
}

.burgerHidden {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	border: none;
	background-color: transparent;
	margin: 80px 0px 10px 40px;

	transition: margin-left 0.5s ease-in-out;
	z-index: 1;
}

.burgerHidden:hover {
	cursor: pointer;
	opacity: 0.8;
}

.sidebarPage {
	position: fixed;
	background-color: rgba(60, 56, 56, 0.3);
	opacity: 0.8;
	width: 300px;
	height: 50vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;
	z-index: 10;
}

.sidebarPageHidden {
	position: fixed;
	transform: translateX(-100%);
	background-color: rgba(60, 56, 56, 0.3);
	opacity: 0.8;
	width: 300px;
	height: 50vh;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	transition: transform 0.5s ease-in-out;
	z-index: 1;
}

.navbarPage {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin-left: 45px;
	margin-top: 70px;
	font-size: 2em;

}

.navbarPageHidden {
	transform: translateX(-100%);
}

.link {
	margin-bottom: 5px;
	width: auto;
}

.link:hover {
	cursor: pointer;
}