*{
    margin: 0;
    padding: 0;
    /* font-family: 'DM Mono', monospace;  */
	font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: #85a486;
}

/* ----------------- Landing Page ----------------- */
.hero{
	height: 100vh;
	width: 100%;
}
.container{
	position: absolute; /* or 'relative' depending on your layout needs */
    left: 80px;
    top: 350px;
	font-size: 20px;
}
.logo{
	font-size: 100px;
	font-weight: 800;
	color: dark-brown;
	margin-bottom: 20px;
}
p{
	margin-bottom: 10px;
}

.last{
	margin-bottom: 50px;
}
.learnMore{
	font-size: 20px;
	font-weight: 200;
	color: dark-brown;
	text-decoration: none;
	color: inherit;
	transition: transform 0.3s ease;
	background-color: #ffbb00;
	padding: 10px;
	border-radius: 8px;
}
.learnMore:hover{
	cursor: pointer;
	background-color: #ffd000;
}	

.arrowRight {
	vertical-align: middle;
	margin-left: 1%;
}

.arrowDown {
	/* vertical-align: middle; */
	margin-top: -2%;
	transform: translateX(10px);
}

.arrowContainer{
	position: absolute;
	display: flex;
	font-size: 30px;
	font-weight: 200;
	right: 200px;
	bottom: 100px;
	align-items: center;
	align-text: center;
	background-color: transparent;
	border: none;	
	border-bottom: 2px solid transparent;
	background-color: #61714d;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 10px;
	border-radius: 8px;
}
.arrowContainer:hover{
	cursor: pointer;
}

.arrowContainer::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffbb00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.arrowContainer:hover::after{
    width: 100%;
}

.hero-video {
	width: 50%;
	height: auto;
	position: absolute;
	top: 0px;
	right: 60px;
	z-index: -1; /* Place the video behind other content */
	margin-top: 5%;
  }

  .custom-color {
    color: #ffbb00;
}


